readme.txt

# Python
.venv/
venv/

# VS Code
.vscode/

__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Local secrets
.env
.env.*
!.env.example

# Logs and OS files
*.log
Thumbs.db
.DS_Store

# Microsoft Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

# Windows temporary/system files
Thumbs.db
Desktop.ini

# Backup files
*.bak
*.backup

# Lock files
*.lock